<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMkIBCS9aLnWUDHjgzQj14tF_gTsBCdq4</string>
	<key>GCM_SENDER_ID</key>
	<string>146042533166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithchungus.PicklePlaySB-V1</string>
	<key>PROJECT_ID</key>
	<string>pickleplaysb</string>
	<key>STORAGE_BUCKET</key>
	<string>pickleplaysb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146042533166:ios:f189996d9c94be4f51f6bf</string>
	<key>DATABASE_URL</key>
	<string>https://pickleplaysb-default-rtdb.firebaseio.com</string>
</dict>
</plist>